<form [formGroup]="signupForm" (submit)="submitApplication()" class="signup-form-container">
  <app-form-field
    label="First name"
    type="email"
    testid="signup-first-name"
    [formCtrl]="signupForm.get('firstName')"
  />
  <app-form-field
    label="Last name"
    testid="signup-last-name"
    [formCtrl]="signupForm.get('lastName')"
  />
  <app-form-field
    label="Email"
    testid="signup-email"
    type="email"
    [formCtrl]="signupForm.get('email')"
  />
  <app-form-field
    label="Password"
    testid="signup-password"
    type="password"
    [formCtrl]="signupForm.get('password')"
  />

  <button
    mat-raised-button
    color="primary"
    type="submit"
    disabled={{!signupForm.valid}}
    data-testid="signup-submit-button"
  >
    Submit
  </button>
</form>
