<form [formGroup]="signupForm" (submit)="submitApplication()" class="form-container">
  <mat-form-field subscriptSizing="dynamic" class="signup-form-field">
    <mat-label>First name</mat-label>
    <input matInput formControlName="firstName" required data-testid="signup-first-name" />
    <mat-error
      [appHumanizeErrors]="signupForm.controls.firstName.errors"
      #appHumanizeErrorsRef="appHumanizeErrors"
      data-testid="signup-first-name-errors"
      *ngIf="signupForm.controls.firstName.errors && signupForm.controls.firstName.touched"
    >
      <li *ngFor="let error of appHumanizeErrorsRef.errors">
        {{error}}
      </li>
    </mat-error>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" class="signup-form-field">
    <mat-label>Last name</mat-label>
    <input matInput formControlName="lastName" required data-testid="signup-last-name" />
    <mat-error
      [appHumanizeErrors]="signupForm.controls.lastName.errors"
      #appHumanizeErrorsRef="appHumanizeErrors"
      data-testid="signup-last-name-errors"
      *ngIf="signupForm.controls.lastName.errors && signupForm.controls.lastName.touched"
    >
      <li *ngFor="let error of appHumanizeErrorsRef.errors">
        {{error}}
      </li>
    </mat-error>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" class="signup-form-field">
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" required data-testid="signup-email" />
    <mat-error
      [appHumanizeErrors]="signupForm.controls.email.errors"
      #appHumanizeErrorsRef="appHumanizeErrors"
      data-testid="signup-email-errors"
      *ngIf="signupForm.controls.email.errors && signupForm.controls.email.touched"
    >
      <li *ngFor="let error of appHumanizeErrorsRef.errors">
        {{error}}
      </li>
    </mat-error>
  </mat-form-field>

  <mat-form-field subscriptSizing="dynamic" class="signup-form-field">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" required data-testid="signup-password" />
    <mat-error
      [appHumanizeErrors]="signupForm.controls.password.errors"
      #appHumanizeErrorsRef="appHumanizeErrors"
      data-testid="signup-password-errors"
      *ngIf="signupForm.controls.password.errors && signupForm.controls.password.touched"
    >
      <li *ngFor="let error of appHumanizeErrorsRef.errors">
        {{error}}
      </li>
    </mat-error>
  </mat-form-field>
  
  <button
    mat-raised-button
    color="primary"
    type="submit"
    disabled={{!signupForm.valid}}
    data-testid="signup-submit-button"
  >
    Submit
  </button>
</form>
